<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>French_Bridge.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>82F6988B1C1796F000A97238</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82F6989F1C1796F000A97238</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82F698AA1C1796F000A97238</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
